.App {
  text-align: center;
}

.document {
  display: flex;
  align-items: center;
  justify-content: start;
}
.canvas-container {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 100;
}