.pdf-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #eeeeee;
  margin: 1rem;
  padding: 1rem;
  height: 90vh;
}

.pdf-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(241, 248, 252);
}

.toolbar {
  display: flex;
  width: 60rem;
  justify-content: center;
}

.tool {
  padding-right: 1rem;
  display: inline-block;
  height: 100%;
  border: none;
}

.tool-button {
  border: none;
  background: none;
}

.tool-button:hover {
  background-color: rgb(241, 248, 252);
}

.pencil:focus {
  background-color: rgb(241, 248, 252);
}

.hidden {
  display: none;
}

.labelButton {
  padding: 0.4rem;

}

.labelButton:hover {
  background-color: aliceblue;
}

.document {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.canvas-container {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 100;
}

.page-control {
  margin: 0.4rem 0 0 0 ;
  display: flex;
  flex-direction: row;
  width: 60%;
  align-items: center;
  justify-content: space-evenly;
}